
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EAT FAST</title>
    <meta name="description" content="Free Bootstrap Theme by ProBootstrap.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles-merged.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!--[if lt IE 9]>
    <script th:src="@{/js/vendor/html5shiv.min.js}"></script>
    <script th:src="@{/js/vendor/respond.min.js}"></script>
    <![endif]-->
</head>
<body>

<div class="probootstrap-page-wrapper">

    <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row probootstrap-gutter0">
                        <div class="col-md-7 col-md-push-1  probootstrap-animate" id="probootstrap-content">
                            <p><h2><b> Nouveau plat </b></h2></p>
                            <p>Les champs en * sont obloigatoire </p>
                            <form class="probootstrap-form"   th:method="post" th:object="${plat}"  th:action="@{'/plat/update/' +${plat.getRestaurants().getNomR()}}">
                                <div class="form-group">
                                    <label > Nom du plat *</label>
                                    <input type="text" class="form-control"  name="nomP" th:value="${plat.getNomP()}">
                                    <div class="form-group">
                                        <label >Prix *</label>
                                        <input type="int" class="form-control"  name="prix" th:value="${plat.getPrix()}">
                                    </div>
                                    <div class="form-group">
                                        <label >Description *</label>
                                        <input type="text" class="form-control"   name="description"  th:value="${plat.getDescription()}">
                                    </div>
                                    <div class="form-group">
                                        <label >Image *</label>
                                        <input type="file" class="form-control"  name="image" th:value="${plat.getImage()}">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-lg" id="submit" name="valider" value="Enregistrer">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<!-- END wrapper -->


<script th:src="@{/js/scripts.min.js}"></script>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>
</html>
