<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EAT FAST</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  </head>

  <body>
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
          <div class="container">
                <span class="red" th:if="${param.error}">
                  Incorrect username or password
                </span>
            <span class="red" th:if="${param.logout}">
                  You have been logged out
                </span>
          </div>
          <img th:src="@{/images/login_logo.jpg}" width="325px" />
          <form th:method="post" th:action="@{/j_spring_security_check}"  th:object="${utilisateurDto}" >
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="text" name="username" placeholder="username" autocomplete="username" required />
              </div>
            </div>
            <div class="field">
              <div class="control">
              </div>
                <input class="input is-medium is-rounded" type="password" name="password" placeholder="**********" autocomplete="current-password" required />
            </div>
            <br />
            <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit" >
              Login
            </button>
          </form>


          <br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <a href="#">Forgot Password?</a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <a href="/User/remplirUserForm">Create an Account</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
  </body>

</html>
